
.clasificatoria {
    border: 1px solid #fff;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2); 
}

.clasificatoria th, td {
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.acciones {
    width: 150px;
}

.acciones .btn {
    font-size: 18px;
}

.img-tarea {
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto;

}