.nav-game.navbar {
    background: var(--color-primario);;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.13) !important;
    height: 56px;
    padding-top: 0;
    padding-bottom: 0;
    overflow-y: hidden;
}

.nav-game .navbar-brand {
    color: rgb(255, 255, 255) !important;
}

.nav-game .nav-item {
    display: flex;
    align-items: center;
    height: 56px;
}

.nav-game .container {
    height: 56px !important;
}

.nav-game .nav-link {
    margin-right: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0 5px;
}

.nav-game .active {
    background-color: var(--color-secundario);
    color: #fff;
    padding: 2px 10px;
    border-radius: 5px;
}

.icon-navbar {
    cursor: pointer;
    font-size: 20px;
}

@media screen and (max-width: 600px){ 
    .nav-game .navbar-nav{
        display: none !important;
    }

    .nav-game .container {
        justify-content: space-between !important;
    }

}
