:root {
  --color-primario:  #363A3F;
  --color-secundario: #7E57C2;
  --bg-color: #4a4e52;
  --animate-duration: 1s;
}


*, *::after, *::before {
  box-sizing: border-box;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, .lista, span {
  overflow-y: hidden;
}

.swal2-content {
  color: #fff !important;
} 

.swal2-timer-progress-bar {
  background-color: var(--color-secundario) !important;
}

.swal2-styled.swal2-confirm {
  width: 50%;
  background-color: var(--color-secundario) !important;
}
button, input {
  box-shadow: none !important;
}

.button:focus, input:focus {
  box-shadow: none !important;
}


input, input:focus,textarea,  textarea:focus, select, select:focus {
  box-shadow: none !important;
}